## Cleaning the Dataset

In [1]:
# Import dependency
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
from pathlib import Path

# Import our input dataset
file_path = Path('Resources/train.csv')
train_df = pd.read_csv(file_path)
train_df.head(10)

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
0,1514764860,2,40.0,2376.580000,2399.5000,2357.1400,2374.590000,19.233005,2373.116392,-0.004218
1,1514764860,0,5.0,8.530000,8.5300,8.5300,8.530000,78.380000,8.530000,-0.014399
2,1514764860,1,229.0,13835.194000,14013.8000,13666.1100,13850.176000,31.550062,13827.062093,-0.014643
3,1514764860,5,32.0,7.659600,7.6596,7.6567,7.657600,6626.713370,7.657713,-0.013922
4,1514764860,7,5.0,25.920000,25.9200,25.8740,25.877000,121.087310,25.891363,-0.008264
5,1514764860,6,173.0,738.302500,746.0000,732.5100,738.507500,335.987856,738.839291,-0.004809
6,1514764860,9,167.0,225.330000,227.7800,222.9800,225.206667,411.896642,225.197944,-0.009791
7,1514764860,11,7.0,329.090000,329.8800,329.0900,329.460000,6.635710,329.454118,NaN
8,1514764920,2,53.0,2374.553333,2400.9000,2354.2000,2372.286667,24.050259,2371.434498,-0.004079
9,1514764920,0,7.0,8.530000,8.5300,8.5145,8.514500,71.390000,8.520215,-0.015875

In [2]:
# Import our input dataset
file_path_2 = Path('Resources/asset_details.csv')
asset_details_df = pd.read_csv(file_path_2)
asset_details_df.sort_values(by="Asset_ID", ascending=True)

    Asset_ID    Weight        Asset_Name
1          0  4.304065      Binance Coin
2          1  6.779922           Bitcoin
0          2  2.397895      Bitcoin Cash
10         3  4.406719           Cardano
13         4  3.555348          Dogecoin
3          5  1.386294            EOS.IO
5          6  5.894403          Ethereum
4          7  2.079442  Ethereum Classic
11         8  1.098612              IOTA
6          9  2.397895          Litecoin
12        10  1.098612             Maker
7         11  1.609438            Monero
9         12  2.079442           Stellar
8         13  1.791759              TRON

In [3]:
# Check the datatypes of your columns. 
train_df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24236806 entries, 0 to 24236805
Data columns (total 10 columns):
 #   Column     Non-Null Count     Dtype
---  ------     --------------     -----
 0   timestamp  24236806 non-null  int64
 1   Asset_ID   24236806 non-null  int64
 2   Count      24236806 non-null  float64
 3   Open       24236806 non-null  float64
 4   High       24236806 non-null  float64
 5   Low        24236806 non-null  float64
 6   Close      24236806 non-null  float64
 7   Volume     24236806 non-null  float64
 8   VWAP       24236797 non-null  float64
 9   Target     23486468 non-null  float64
dtypes: float64(8), int64(2)
memory usage: 1.8 GB

In [4]:
# Check the missing values in each column 
train_df.isnull().sum()

timestamp         0
Asset_ID          0
Count             0
Open              0
High              0
Low               0
Close             0
Volume            0
VWAP              9
Target       750338
dtype: int64

In [5]:
# Replace NaN Values with Zeros in Target column
train_df["Target"] = train_df["Target"].fillna(0)
train_df.head(10)

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
0,1514764860,2,40.0,2376.580000,2399.5000,2357.1400,2374.590000,19.233005,2373.116392,-0.004218
1,1514764860,0,5.0,8.530000,8.5300,8.5300,8.530000,78.380000,8.530000,-0.014399
2,1514764860,1,229.0,13835.194000,14013.8000,13666.1100,13850.176000,31.550062,13827.062093,-0.014643
3,1514764860,5,32.0,7.659600,7.6596,7.6567,7.657600,6626.713370,7.657713,-0.013922
4,1514764860,7,5.0,25.920000,25.9200,25.8740,25.877000,121.087310,25.891363,-0.008264
5,1514764860,6,173.0,738.302500,746.0000,732.5100,738.507500,335.987856,738.839291,-0.004809
6,1514764860,9,167.0,225.330000,227.7800,222.9800,225.206667,411.896642,225.197944,-0.009791
7,1514764860,11,7.0,329.090000,329.8800,329.0900,329.460000,6.635710,329.454118,0.000000
8,1514764920,2,53.0,2374.553333,2400.9000,2354.2000,2372.286667,24.050259,2371.434498,-0.004079
9,1514764920,0,7.0,8.530000,8.5300,8.5145,8.514500,71.390000,8.520215,-0.015875

In [6]:
# Show all Rows with NaN Values in VWAP column from the output
# below, we can see that all the NaN values come from Asset_ID 10 (Maker)
train_df[train_df["VWAP"].isnull()]

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
15004269,1592173560,10,2.0,501.00,501.00,501.00,501.00,0.0,NaN,0.000000
15004283,1592173620,10,4.0,501.00,501.00,501.00,501.00,0.0,NaN,0.000000
15059232,1592426160,10,2.0,529.77,529.77,529.77,529.77,0.0,NaN,0.007356
15143187,1592823720,10,2.0,503.60,503.60,503.60,503.60,0.0,NaN,-0.005672
15183088,1593008940,10,2.0,484.16,484.16,484.16,484.16,0.0,NaN,-0.004281
15184216,1593013920,10,2.0,480.00,480.00,480.00,480.00,0.0,NaN,0.000000
15184243,1593014040,10,2.0,480.00,480.00,480.00,480.00,0.0,NaN,0.000000
15184309,1593014340,10,6.0,479.07,479.07,479.07,479.07,0.0,NaN,0.000000
15184778,1593016440,10,4.0,478.00,478.00,475.00,478.00,0.0,NaN,0.000000

When cleaning the data, there were a lot of gaps in data, which influence the consecutive of data visualisation to fill the gaps, use the .reindex() method for forward filling to fill the gaps with the previous valid value. 
Reference: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reindex.html

In [7]:
# Fill gaps for Bitcoin Cash
bit_cash = train_df[train_df["Asset_ID"]==2].set_index("timestamp")
bit_cash = bit_cash.reindex(range(bit_cash.index[0],bit_cash.index[-1]+60,60),method='pad')
(bit_cash.index[1:]-bit_cash.index[:-1]).value_counts()

60    1956959
Name: timestamp, dtype: int64

In [8]:
# Fill gaps for Binance Coin
bin_coin = train_df[train_df["Asset_ID"]==0].set_index("timestamp")
bin_coin = bin_coin.reindex(range(bin_coin.index[0],bin_coin.index[-1]+60,60),method='pad')
(bin_coin.index[1:]-bin_coin.index[:-1]).value_counts()

60    1956959
Name: timestamp, dtype: int64

In [9]:
# Fill gaps for Bitcoin 
bit = train_df[train_df["Asset_ID"]==1].set_index("timestamp")
bit = bit.reindex(range(bit.index[0],bit.index[-1]+60,60),method='pad')
(bit.index[1:]-bit.index[:-1]).value_counts()

60    1956959
Name: timestamp, dtype: int64

In [10]:
# Fill gaps for EOS.IO
eos = train_df[train_df["Asset_ID"]==5].set_index("timestamp")
eos = eos.reindex(range(eos.index[0],eos.index[-1]+60,60),method='pad')
(eos.index[1:]-eos.index[:-1]).value_counts()

60    1956959
Name: timestamp, dtype: int64

In [11]:
# Fill gaps for Ethereum Classic
eth_classic = train_df[train_df["Asset_ID"]==7].set_index("timestamp")
eth_classic = eth_classic.reindex(range(eth_classic.index[0],eth_classic.index[-1]+60,60),method='pad')
(eth_classic.index[1:]-eth_classic.index[:-1]).value_counts()

60    1956959
Name: timestamp, dtype: int64

In [12]:
# Fill gaps for Ethereum
eth = train_df[train_df["Asset_ID"]==6].set_index("timestamp")
eth = eth.reindex(range(eth.index[0],eth.index[-1]+60,60),method='pad')
(eth.index[1:]-eth.index[:-1]).value_counts()

60    1956959
Name: timestamp, dtype: int64

In [13]:
# Fill gaps for Litecoin
lite = train_df[train_df["Asset_ID"]==9].set_index("timestamp")
lite = lite.reindex(range(lite.index[0],lite.index[-1]+60,60),method='pad')
(lite.index[1:]-lite.index[:-1]).value_counts()

60    1956959
Name: timestamp, dtype: int64

In [14]:
# Fill gaps for Monero
mon = train_df[train_df["Asset_ID"]==11].set_index("timestamp")
mon = mon.reindex(range(mon.index[0],mon.index[-1]+60,60),method='pad')
(mon.index[1:]-mon.index[:-1]).value_counts()

60    1956959
Name: timestamp, dtype: int64

Six cryptocurrencies were not traded from the start date (2018-01-01) of the dataset, ergo they are excluded from the dataset.
```
tro = crypto_df[crypto_df["Asset_ID"]==13].set_index("timestamp")
tro = tro.reindex(range(tro.index[0],tro.index[-1]+60,60),method='pad')
(tro.index[1:]-tro.index[:-1]).value_counts()

ste = crypto_df[crypto_df["Asset_ID"]==12].set_index("timestamp")
ste = ste.reindex(range(ste.index[0],ste.index[-1]+60,60),method='pad')
(ste.index[1:]-ste.index[:-1]).value_counts()

car = crypto_df[crypto_df["Asset_ID"]==3].set_index("timestamp")
car = car.reindex(range(car.index[0],car.index[-1]+60,60),method='pad')
(car.index[1:]-car.index[:-1]).value_counts()

iota = crypto_df[crypto_df["Asset_ID"]==8].set_index("timestamp")
iota = iota.reindex(range(iota.index[0],iota.index[-1]+60,60),method='pad')
(iota.index[1:]-iota.index[:-1]).value_counts()

mak = crypto_df[crypto_df["Asset_ID"]==10].set_index("timestamp")
mak = mak.reindex(range(mak.index[0],mak.index[-1]+60,60),method='pad')
(mak.index[1:]-mak.index[:-1]).value_counts()

dog = crypto_df[crypto_df["Asset_ID"]==4].set_index("timestamp")
dog = dog.reindex(range(dog.index[0],dog.index[-1]+60,60),method='pad')
(dog.index[1:]-dog.index[:-1]).value_counts()
```

In [15]:
# Check again to see if there still any missing data left
# frames = [bit_cash, bin_coin, bit, eos, eth_classic, eth, lite, mon]
bit_cash.isnull().sum()

Asset_ID    0
Count       0
Open        0
High        0
Low         0
Close       0
Volume      0
VWAP        0
Target      0
dtype: int64

In [16]:
bin_coin.isnull().sum()

Asset_ID    0
Count       0
Open        0
High        0
Low         0
Close       0
Volume      0
VWAP        0
Target      0
dtype: int64

In [17]:
bit.isnull().sum()

Asset_ID    0
Count       0
Open        0
High        0
Low         0
Close       0
Volume      0
VWAP        0
Target      0
dtype: int64

In [18]:
eos.isnull().sum()

Asset_ID    0
Count       0
Open        0
High        0
Low         0
Close       0
Volume      0
VWAP        0
Target      0
dtype: int64

In [19]:
eth_classic.isnull().sum()

Asset_ID    0
Count       0
Open        0
High        0
Low         0
Close       0
Volume      0
VWAP        0
Target      0
dtype: int64

In [20]:
eth.isnull().sum()

Asset_ID    0
Count       0
Open        0
High        0
Low         0
Close       0
Volume      0
VWAP        0
Target      0
dtype: int64

In [21]:
lite.isnull().sum()

Asset_ID    0
Count       0
Open        0
High        0
Low         0
Close       0
Volume      0
VWAP        0
Target      0
dtype: int64

In [22]:
mon.isnull().sum()

Asset_ID    0
Count       0
Open        0
High        0
Low         0
Close       0
Volume      0
VWAP        0
Target      0
dtype: int64

In [23]:
# Merge all the dataset together (, bit, eth, lite, mon)
# refer: https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html
frames = [bin_coin]
crypto_con_df = pd.concat(frames)
crypto_con_df.head()

,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
timestamp,,,,,,,,,
1514764860,0,5.0,8.5300,8.5300,8.5300,8.5300,78.38,8.530000,-0.014399
1514764920,0,7.0,8.5300,8.5300,8.5145,8.5145,71.39,8.520215,-0.015875
1514764980,0,45.0,8.5065,8.5299,8.4848,8.4848,1546.82,8.501394,-0.015410
1514765040,0,14.0,8.5009,8.5066,8.4744,8.5009,125.80,8.479810,-0.012524
1514765100,0,5.0,8.5007,8.5007,8.4560,8.4560,125.01,8.458435,-0.005940

In [24]:
# use the timestamp index to sort the values
crypto_con_df = crypto_con_df.sort_index()
crypto_con_df.head()

,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
timestamp,,,,,,,,,
1514764860,0,5.0,8.5300,8.5300,8.5300,8.5300,78.38,8.530000,-0.014399
1514764920,0,7.0,8.5300,8.5300,8.5145,8.5145,71.39,8.520215,-0.015875
1514764980,0,45.0,8.5065,8.5299,8.4848,8.4848,1546.82,8.501394,-0.015410
1514765040,0,14.0,8.5009,8.5066,8.4744,8.5009,125.80,8.479810,-0.012524
1514765100,0,5.0,8.5007,8.5007,8.4560,8.4560,125.01,8.458435,-0.005940

In [25]:
# Convert Index to Column
crypto_con_df.reset_index(inplace=True)
crypto_con_df.head()

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
0,1514764860,0,5.0,8.5300,8.5300,8.5300,8.5300,78.38,8.530000,-0.014399
1,1514764920,0,7.0,8.5300,8.5300,8.5145,8.5145,71.39,8.520215,-0.015875
2,1514764980,0,45.0,8.5065,8.5299,8.4848,8.4848,1546.82,8.501394,-0.015410
3,1514765040,0,14.0,8.5009,8.5066,8.4744,8.5009,125.80,8.479810,-0.012524
4,1514765100,0,5.0,8.5007,8.5007,8.4560,8.4560,125.01,8.458435,-0.005940

In [26]:
# Convert the 'timestamp' column to datetime datatype.
crypto_con_df['timestamp'] = pd.to_datetime(crypto_con_df['timestamp'], unit='s')
crypto_con_df.head(10)

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
0,2018-01-01 00:01:00,0,5.0,8.5300,8.5300,8.5300,8.5300,78.38,8.530000,-0.014399
1,2018-01-01 00:02:00,0,7.0,8.5300,8.5300,8.5145,8.5145,71.39,8.520215,-0.015875
2,2018-01-01 00:03:00,0,45.0,8.5065,8.5299,8.4848,8.4848,1546.82,8.501394,-0.015410
3,2018-01-01 00:04:00,0,14.0,8.5009,8.5066,8.4744,8.5009,125.80,8.479810,-0.012524
4,2018-01-01 00:05:00,0,5.0,8.5007,8.5007,8.4560,8.4560,125.01,8.458435,-0.005940
5,2018-01-01 00:06:00,0,89.0,8.4560,8.4560,8.3999,8.4000,3765.25,8.403468,-0.005455
6,2018-01-01 00:07:00,0,20.0,8.4000,8.4000,8.3800,8.3958,827.17,8.390564,-0.000644
7,2018-01-01 00:08:00,0,25.0,8.3800,8.4544,8.3800,8.3804,370.04,8.390332,-0.003580
8,2018-01-01 00:09:00,0,16.0,8.3999,8.4519,8.3800,8.3800,1428.91,8.400632,-0.005421
9,2018-01-01 00:10:00,0,1.0,8.3932,8.3932,8.3932,8.3932,12.00,8.393200,-0.005123

In [27]:
# Verify data is cleaned
crypto_con_df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1956960 entries, 0 to 1956959
Data columns (total 10 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   timestamp  1956960 non-null  datetime64[ns]
 1   Asset_ID   1956960 non-null  int64
 2   Count      1956960 non-null  float64
 3   Open       1956960 non-null  float64
 4   High       1956960 non-null  float64
 5   Low        1956960 non-null  float64
 6   Close      1956960 non-null  float64
 7   Volume     1956960 non-null  float64
 8   VWAP       1956960 non-null  float64
 9   Target     1956960 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(1)
memory usage: 149.3 MB

In [28]:
# Merge asset_detail and crypto_con_df
crypto_details_df = crypto_con_df.merge(asset_details_df, how='left', on="Asset_ID")
crypto_details_df.head(10)

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target,Weight,Asset_Name
0,2018-01-01 00:01:00,0,5.0,8.5300,8.5300,8.5300,8.5300,78.38,8.530000,-0.014399,4.304065,Binance Coin
1,2018-01-01 00:02:00,0,7.0,8.5300,8.5300,8.5145,8.5145,71.39,8.520215,-0.015875,4.304065,Binance Coin
2,2018-01-01 00:03:00,0,45.0,8.5065,8.5299,8.4848,8.4848,1546.82,8.501394,-0.015410,4.304065,Binance Coin
3,2018-01-01 00:04:00,0,14.0,8.5009,8.5066,8.4744,8.5009,125.80,8.479810,-0.012524,4.304065,Binance Coin
4,2018-01-01 00:05:00,0,5.0,8.5007,8.5007,8.4560,8.4560,125.01,8.458435,-0.005940,4.304065,Binance Coin
5,2018-01-01 00:06:00,0,89.0,8.4560,8.4560,8.3999,8.4000,3765.25,8.403468,-0.005455,4.304065,Binance Coin
6,2018-01-01 00:07:00,0,20.0,8.4000,8.4000,8.3800,8.3958,827.17,8.390564,-0.000644,4.304065,Binance Coin
7,2018-01-01 00:08:00,0,25.0,8.3800,8.4544,8.3800,8.3804,370.04,8.390332,-0.003580,4.304065,Binance Coin
8,2018-01-01 00:09:00,0,16.0,8.3999,8.4519,8.3800,8.3800,1428.91,8.400632,-0.005421,4.304065,Binance Coin
9,2018-01-01 00:10:00,0,1.0,8.3932,8.3932,8.3932,8.3932,12.00,8.393200,-0.005123,4.304065,Binance Coin

In [29]:
crypto_details_df.rename({'timestamp': 'Date'}, axis=1, inplace=True)
crypto_details_df.head(10)

,Date,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target,Weight,Asset_Name
0,2018-01-01 00:01:00,0,5.0,8.5300,8.5300,8.5300,8.5300,78.38,8.530000,-0.014399,4.304065,Binance Coin
1,2018-01-01 00:02:00,0,7.0,8.5300,8.5300,8.5145,8.5145,71.39,8.520215,-0.015875,4.304065,Binance Coin
2,2018-01-01 00:03:00,0,45.0,8.5065,8.5299,8.4848,8.4848,1546.82,8.501394,-0.015410,4.304065,Binance Coin
3,2018-01-01 00:04:00,0,14.0,8.5009,8.5066,8.4744,8.5009,125.80,8.479810,-0.012524,4.304065,Binance Coin
4,2018-01-01 00:05:00,0,5.0,8.5007,8.5007,8.4560,8.4560,125.01,8.458435,-0.005940,4.304065,Binance Coin
5,2018-01-01 00:06:00,0,89.0,8.4560,8.4560,8.3999,8.4000,3765.25,8.403468,-0.005455,4.304065,Binance Coin
6,2018-01-01 00:07:00,0,20.0,8.4000,8.4000,8.3800,8.3958,827.17,8.390564,-0.000644,4.304065,Binance Coin
7,2018-01-01 00:08:00,0,25.0,8.3800,8.4544,8.3800,8.3804,370.04,8.390332,-0.003580,4.304065,Binance Coin
8,2018-01-01 00:09:00,0,16.0,8.3999,8.4519,8.3800,8.3800,1428.91,8.400632,-0.005421,4.304065,Binance Coin
9,2018-01-01 00:10:00,0,1.0,8.3932,8.3932,8.3932,8.3932,12.00,8.393200,-0.005123,4.304065,Binance Coin

In [30]:
# Reorder column to have Asset_Name & Weight after Asset_ID
crypto_details_df = crypto_details_df.reindex(columns=['Date','Asset_ID','Asset_Name','Weight','Count','Open','High','Low','Close','Volume','VWAP','Target'])
crypto_details_df.head(10)

,Date,Asset_ID,Asset_Name,Weight,Count,Open,High,Low,Close,Volume,VWAP,Target
0,2018-01-01 00:01:00,0,Binance Coin,4.304065,5.0,8.5300,8.5300,8.5300,8.5300,78.38,8.530000,-0.014399
1,2018-01-01 00:02:00,0,Binance Coin,4.304065,7.0,8.5300,8.5300,8.5145,8.5145,71.39,8.520215,-0.015875
2,2018-01-01 00:03:00,0,Binance Coin,4.304065,45.0,8.5065,8.5299,8.4848,8.4848,1546.82,8.501394,-0.015410
3,2018-01-01 00:04:00,0,Binance Coin,4.304065,14.0,8.5009,8.5066,8.4744,8.5009,125.80,8.479810,-0.012524
4,2018-01-01 00:05:00,0,Binance Coin,4.304065,5.0,8.5007,8.5007,8.4560,8.4560,125.01,8.458435,-0.005940
5,2018-01-01 00:06:00,0,Binance Coin,4.304065,89.0,8.4560,8.4560,8.3999,8.4000,3765.25,8.403468,-0.005455
6,2018-01-01 00:07:00,0,Binance Coin,4.304065,20.0,8.4000,8.4000,8.3800,8.3958,827.17,8.390564,-0.000644
7,2018-01-01 00:08:00,0,Binance Coin,4.304065,25.0,8.3800,8.4544,8.3800,8.3804,370.04,8.390332,-0.003580
8,2018-01-01 00:09:00,0,Binance Coin,4.304065,16.0,8.3999,8.4519,8.3800,8.3800,1428.91,8.400632,-0.005421
9,2018-01-01 00:10:00,0,Binance Coin,4.304065,1.0,8.3932,8.3932,8.3932,8.3932,12.00,8.393200,-0.005123

In [31]:
# Export the Dataframe as a new CSV file without the index.
crypto_details_df.to_csv("Resources/binance_coin.csv", index=False)

## Preprocess the clean dataset

In [36]:
# Declare feature and target variable
X = crypto_details_df.drop(['Close'], axis=1)
y = crypto_details_df['Close']

In [37]:
# Split data into separate training and test set
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.19, random_state=42)

In [38]:
# Check the shape of X_train and X_test
X_train.shape, X_test.shape

((12681100, 11), (2974580, 11))

In [42]:
from sklearn.preprocessing import StandardScaler

# Scale the trainig and testing data
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

MemoryError: Unable to allocate 1.04 GiB for an array with shape (11, 12681100) and data type object

In [40]:
# Encode categorical variables
X_train.head()

,Date,Asset_ID,Asset_Name,Weight,Count,Open,High,Low,Volume,VWAP,Target
1689345,2018-05-27 15:29:00,2,Bitcoin Cash,2.397895,30.0,989.330000,991.240,986.8000,137.222809,988.783956,-0.001397
7568755,2019-10-20 00:15:00,11,Monero,1.609438,5.0,54.383667,54.641,54.1900,11.420721,54.356234,0.000000
11362598,2020-09-13 08:05:00,7,Ethereum Classic,2.079442,102.0,5.592433,6.103,5.3182,1559.309955,5.593841,-0.001431
3461222,2018-10-28 10:53:00,9,Litecoin,2.397895,42.0,51.866667,52.100,51.4500,30.301673,51.867801,0.001283
3299830,2018-10-14 10:39:00,2,Bitcoin Cash,2.397895,8.0,443.995000,448.880,439.3000,9.016400,444.020315,0.009351