In [1]:
# Import dependency
import pandas as pd
from pathlib import Path

# Import our input dataset
file_path = Path('C:/Users/kayem/Class/Crypto-Forecasting-/Resources/train.csv')
train_df = pd.read_csv(file_path)
train_df.head()

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
0,1514764860,2,40.0,2376.5800,2399.5000,2357.1400,2374.5900,19.233005,2373.116392,-0.004218
1,1514764860,0,5.0,8.5300,8.5300,8.5300,8.5300,78.380000,8.530000,-0.014399
2,1514764860,1,229.0,13835.1940,14013.8000,13666.1100,13850.1760,31.550062,13827.062093,-0.014643
3,1514764860,5,32.0,7.6596,7.6596,7.6567,7.6576,6626.713370,7.657713,-0.013922
4,1514764860,7,5.0,25.9200,25.9200,25.8740,25.8770,121.087310,25.891363,-0.008264

In [3]:
# Import our input dataset
file_path_2 = Path('C:/Users/kayem/Class/Crypto-Forecasting-/Resources/asset_details.csv')
asset_details_df = pd.read_csv(file_path_2)
asset_details_df

    Asset_ID    Weight        Asset_Name
0          2  2.397895      Bitcoin Cash
1          0  4.304065      Binance Coin
2          1  6.779922           Bitcoin
3          5  1.386294            EOS.IO
4          7  2.079442  Ethereum Classic
5          6  5.894403          Ethereum
6          9  2.397895          Litecoin
7         11  1.609438            Monero
8         13  1.791759              TRON
9         12  2.079442           Stellar
10         3  4.406719           Cardano
11         8  1.098612              IOTA
12        10  1.098612             Maker
13         4  3.555348          Dogecoin

In [6]:
# Check the datatypes of your columns. 
train_df.dtypes

timestamp      int64
Asset_ID       int64
Count        float64
Open         float64
High         float64
Low          float64
Close        float64
Volume       float64
VWAP         float64
Target       float64
dtype: object

In [8]:
# Convert the 'timestamp' column to datetime datatype.
train_df['timestamp'] = pd.to_datetime(train_df['timestamp'], unit='s')
train_df.head(10)

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
0,2018-01-01 00:01:00,2,40.0,2376.580000,2399.5000,2357.1400,2374.590000,19.233005,2373.116392,-0.004218
1,2018-01-01 00:01:00,0,5.0,8.530000,8.5300,8.5300,8.530000,78.380000,8.530000,-0.014399
2,2018-01-01 00:01:00,1,229.0,13835.194000,14013.8000,13666.1100,13850.176000,31.550062,13827.062093,-0.014643
3,2018-01-01 00:01:00,5,32.0,7.659600,7.6596,7.6567,7.657600,6626.713370,7.657713,-0.013922
4,2018-01-01 00:01:00,7,5.0,25.920000,25.9200,25.8740,25.877000,121.087310,25.891363,-0.008264
5,2018-01-01 00:01:00,6,173.0,738.302500,746.0000,732.5100,738.507500,335.987856,738.839291,-0.004809
6,2018-01-01 00:01:00,9,167.0,225.330000,227.7800,222.9800,225.206667,411.896642,225.197944,-0.009791
7,2018-01-01 00:01:00,11,7.0,329.090000,329.8800,329.0900,329.460000,6.635710,329.454118,NaN
8,2018-01-01 00:02:00,2,53.0,2374.553333,2400.9000,2354.2000,2372.286667,24.050259,2371.434498,-0.004079
9,2018-01-01 00:02:00,0,7.0,8.530000,8.5300,8.5145,8.514500,71.390000,8.520215,-0.015875

In [11]:
# Merge asset_detail and train
clean_data = train_df.merge(asset_details_df, how='left', on="Asset_ID")
clean_data.head()

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target,Weight,Asset_Name
0,2018-01-01 00:01:00,2,40.0,2376.5800,2399.5000,2357.1400,2374.5900,19.233005,2373.116392,-0.004218,2.397895,Bitcoin Cash
1,2018-01-01 00:01:00,0,5.0,8.5300,8.5300,8.5300,8.5300,78.380000,8.530000,-0.014399,4.304065,Binance Coin
2,2018-01-01 00:01:00,1,229.0,13835.1940,14013.8000,13666.1100,13850.1760,31.550062,13827.062093,-0.014643,6.779922,Bitcoin
3,2018-01-01 00:01:00,5,32.0,7.6596,7.6596,7.6567,7.6576,6626.713370,7.657713,-0.013922,1.386294,EOS.IO
4,2018-01-01 00:01:00,7,5.0,25.9200,25.9200,25.8740,25.8770,121.087310,25.891363,-0.008264,2.079442,Ethereum Classic

In [15]:
# Reorder column to have Asset_ID after target
clean_data = clean_data.reindex(columns=['timestamp','Count','Open','High','Low','Volume','VWAP','Target','Asset_ID','Weight','Asset_Name'])
clean_data.head()

,timestamp,Count,Open,High,Low,Volume,VWAP,Target,Asset_ID,Weight,Asset_Name
0,2018-01-01 00:01:00,40.0,2376.5800,2399.5000,2357.1400,19.233005,2373.116392,-0.004218,2,2.397895,Bitcoin Cash
1,2018-01-01 00:01:00,5.0,8.5300,8.5300,8.5300,78.380000,8.530000,-0.014399,0,4.304065,Binance Coin
2,2018-01-01 00:01:00,229.0,13835.1940,14013.8000,13666.1100,31.550062,13827.062093,-0.014643,1,6.779922,Bitcoin
3,2018-01-01 00:01:00,32.0,7.6596,7.6596,7.6567,6626.713370,7.657713,-0.013922,5,1.386294,EOS.IO
4,2018-01-01 00:01:00,5.0,25.9200,25.9200,25.8740,121.087310,25.891363,-0.008264,7,2.079442,Ethereum Classic

In [16]:
# Identify incomplete rows
clean_data.count()

timestamp     24236806
Count         24236806
Open          24236806
High          24236806
Low           24236806
Volume        24236806
VWAP          24236797
Target        23486468
Asset_ID      24236806
Weight        24236806
Asset_Name    24236806
dtype: int64

In [17]:
# Drop all rows with missing information
clean_data = clean_data.dropna(how='any')
clean_data.head(10)

,timestamp,Count,Open,High,Low,Volume,VWAP,Target,Asset_ID,Weight,Asset_Name
0,2018-01-01 00:01:00,40.0,2376.580000,2399.5000,2357.1400,19.233005,2373.116392,-0.004218,2,2.397895,Bitcoin Cash
1,2018-01-01 00:01:00,5.0,8.530000,8.5300,8.5300,78.380000,8.530000,-0.014399,0,4.304065,Binance Coin
2,2018-01-01 00:01:00,229.0,13835.194000,14013.8000,13666.1100,31.550062,13827.062093,-0.014643,1,6.779922,Bitcoin
3,2018-01-01 00:01:00,32.0,7.659600,7.6596,7.6567,6626.713370,7.657713,-0.013922,5,1.386294,EOS.IO
4,2018-01-01 00:01:00,5.0,25.920000,25.9200,25.8740,121.087310,25.891363,-0.008264,7,2.079442,Ethereum Classic
5,2018-01-01 00:01:00,173.0,738.302500,746.0000,732.5100,335.987856,738.839291,-0.004809,6,5.894403,Ethereum
6,2018-01-01 00:01:00,167.0,225.330000,227.7800,222.9800,411.896642,225.197944,-0.009791,9,2.397895,Litecoin
8,2018-01-01 00:02:00,53.0,2374.553333,2400.9000,2354.2000,24.050259,2371.434498,-0.004079,2,2.397895,Bitcoin Cash
9,2018-01-01 00:02:00,7.0,8.530000,8.5300,8.5145,71.390000,8.520215,-0.015875,0,4.304065,Binance Coin
10,2018-01-01 00:02:00,235.0,13835.036000,14052.3000,13680.0000,31.046432,13840.362591,-0.015037,1,6.779922,Bitcoin

In [18]:
# Verify dropped rows
clean_data.count()

timestamp     23486465
Count         23486465
Open          23486465
High          23486465
Low           23486465
Volume        23486465
VWAP          23486465
Target        23486465
Asset_ID      23486465
Weight        23486465
Asset_Name    23486465
dtype: int64

In [19]:
# Export the Dataframe as a new CSV file without the index.
clean_data.to_csv("clean_train.csv", index = False)