In [1]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf


#  Import and read the train.csv.
import pandas as pd 
crypto_df = pd.read_csv("train.csv")
crypto_df

2022-10-23 21:26:05.005011: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
0,1514764860,2,40.0,2376.580000,2399.500000,2357.140000,2374.590000,1.923301e+01,2373.116392,-0.004218
1,1514764860,0,5.0,8.530000,8.530000,8.530000,8.530000,7.838000e+01,8.530000,-0.014399
2,1514764860,1,229.0,13835.194000,14013.800000,13666.110000,13850.176000,3.155006e+01,13827.062093,-0.014643
3,1514764860,5,32.0,7.659600,7.659600,7.656700,7.657600,6.626713e+03,7.657713,-0.013922
4,1514764860,7,5.0,25.920000,25.920000,25.874000,25.877000,1.210873e+02,25.891363,-0.008264
...,...,...,...,...,...,...,...,...,...,...
24236801,1632182400,9,775.0,157.181571,157.250000,156.700000,156.943857,4.663725e+03,156.994319,NaN
24236802,1632182400,10,34.0,2437.065067,2438.000000,2430.226900,2432.907467,3.975460e+00,2434.818747,NaN
24236803,1632182400,13,380.0,0.091390,0.091527,0.091260,0.091349,2.193732e+06,0.091388,NaN
24236804,1632182400,12,177.0,0.282168,0.282438,0.281842,0.282051,1.828508e+05,0.282134,NaN
24236805,1632182400,11,48.0,232.695000,232.800000,232.240000,232.275000,1.035123e+02,232.569697,NaN

In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf


#  Import and read the train.csv.
import pandas as pd 
crypto2_df = pd.read_csv("asset_details.csv")
crypto2_df

    Asset_ID    Weight        Asset_Name
0          2  2.397895      Bitcoin Cash
1          0  4.304065      Binance Coin
2          1  6.779922           Bitcoin
3          5  1.386294            EOS.IO
4          7  2.079442  Ethereum Classic
5          6  5.894403          Ethereum
6          9  2.397895          Litecoin
7         11  1.609438            Monero
8         13  1.791759              TRON
9         12  2.079442           Stellar
10         3  4.406719           Cardano
11         8  1.098612              IOTA
12        10  1.098612             Maker
13         4  3.555348          Dogecoin

In [20]:
# Merge the two DataFrames together and drop the Country column
merge_crypto_df = crypto_df.merge(crypto2_df,left_index=True,right_index=True)

In [5]:
# Drop the null columns where all values are null
new_crypto_df = merge_crypto_df.dropna(axis='columns', how='all')

In [8]:
# Drop the null rows
new_crypto_df = new_crypto_df.dropna()

new_crypto_df

,timestamp,Asset_ID_x,Count,Open,High,Low,Close,Volume,VWAP,Target,Asset_ID_y,Weight,Asset_Name
0,1514764860,2,40.0,2376.580000,2399.5000,2357.1400,2374.590000,19.233005,2373.116392,-0.004218,2,2.397895,Bitcoin Cash
1,1514764860,0,5.0,8.530000,8.5300,8.5300,8.530000,78.380000,8.530000,-0.014399,0,4.304065,Binance Coin
2,1514764860,1,229.0,13835.194000,14013.8000,13666.1100,13850.176000,31.550062,13827.062093,-0.014643,1,6.779922,Bitcoin
3,1514764860,5,32.0,7.659600,7.6596,7.6567,7.657600,6626.713370,7.657713,-0.013922,5,1.386294,EOS.IO
4,1514764860,7,5.0,25.920000,25.9200,25.8740,25.877000,121.087310,25.891363,-0.008264,7,2.079442,Ethereum Classic
5,1514764860,6,173.0,738.302500,746.0000,732.5100,738.507500,335.987856,738.839291,-0.004809,6,5.894403,Ethereum
6,1514764860,9,167.0,225.330000,227.7800,222.9800,225.206667,411.896642,225.197944,-0.009791,9,2.397895,Litecoin
8,1514764920,2,53.0,2374.553333,2400.9000,2354.2000,2372.286667,24.050259,2371.434498,-0.004079,13,1.791759,TRON
9,1514764920,0,7.0,8.530000,8.5300,8.5145,8.514500,71.390000,8.520215,-0.015875,12,2.079442,Stellar
10,1514764920,1,235.0,13835.036000,14052.3000,13680.0000,13828.102000,31.046432,13840.362591,-0.015037,3,4.406719,Cardano
11,1514764920,5,10.0,7.656800,7.6569,7.6567,7.656700,3277.475494,7.656749,-0.014534,8,1.098612,IOTA
12,1514764920,7,1.0,25.897000,25.8970,25.8970,25.897000,1.468019,25.897000,-0.029902,10,1.098612,Maker
13,1514764920,6,192.0,738.507500,745.1400,732.4900,738.260000,232.793141,738.268967,-0.004441,4,3.555348,Dogecoin

In [18]:
new_crypto_df = new_crypto_df.fillna(0)
new_crypto_df

,timestamp,Asset_ID_x,Count,Open,High,Low,Close,Volume,VWAP,Target,Asset_ID_y,Weight,Asset_Name
0,1514764860,2,40.0,2376.580000,2399.5000,2357.1400,2374.590000,19.233005,2373.116392,-0.004218,2,2.397895,Bitcoin Cash
1,1514764860,0,5.0,8.530000,8.5300,8.5300,8.530000,78.380000,8.530000,-0.014399,0,4.304065,Binance Coin
2,1514764860,1,229.0,13835.194000,14013.8000,13666.1100,13850.176000,31.550062,13827.062093,-0.014643,1,6.779922,Bitcoin
3,1514764860,5,32.0,7.659600,7.6596,7.6567,7.657600,6626.713370,7.657713,-0.013922,5,1.386294,EOS.IO
4,1514764860,7,5.0,25.920000,25.9200,25.8740,25.877000,121.087310,25.891363,-0.008264,7,2.079442,Ethereum Classic
5,1514764860,6,173.0,738.302500,746.0000,732.5100,738.507500,335.987856,738.839291,-0.004809,6,5.894403,Ethereum
6,1514764860,9,167.0,225.330000,227.7800,222.9800,225.206667,411.896642,225.197944,-0.009791,9,2.397895,Litecoin
8,1514764920,2,53.0,2374.553333,2400.9000,2354.2000,2372.286667,24.050259,2371.434498,-0.004079,13,1.791759,TRON
9,1514764920,0,7.0,8.530000,8.5300,8.5145,8.514500,71.390000,8.520215,-0.015875,12,2.079442,Stellar
10,1514764920,1,235.0,13835.036000,14052.3000,13680.0000,13828.102000,31.046432,13840.362591,-0.015037,3,4.406719,Cardano
11,1514764920,5,10.0,7.656800,7.6569,7.6567,7.656700,3277.475494,7.656749,-0.014534,8,1.098612,IOTA
12,1514764920,7,1.0,25.897000,25.8970,25.8970,25.897000,1.468019,25.897000,-0.029902,10,1.098612,Maker
13,1514764920,6,192.0,738.507500,745.1400,732.4900,738.260000,232.793141,738.268967,-0.004441,4,3.555348,Dogecoin

In [21]:
print("Number of rows with at least 1 NA value: ", (len(crypto_df)-len(new_crypto_df)))

Number of rows with at least 1 NA value:  24236793

In [24]:
new_crypto_df.notnull()

,timestamp,Asset_ID_x,Count,Open,High,Low,Close,Volume,VWAP,Target,Asset_ID_y,Weight,Asset_Name
0,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True,True
5,True,True,True,True,True,True,True,True,True,True,True,True,True
6,True,True,True,True,True,True,True,True,True,True,True,True,True
8,True,True,True,True,True,True,True,True,True,True,True,True,True
9,True,True,True,True,True,True,True,True,True,True,True,True,True
10,True,True,True,True,True,True,True,True,True,True,True,True,True
11,True,True,True,True,True,True,True,True,True,True,True,True,True
12,True,True,True,True,True,True,True,True,True,True,True,True,True
13,True,True,True,True,True,True,True,True,True,True,True,True,True